<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Pages>
            <version>1.0.1</version>
        </Edge_Pages>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <pages before="Mage_Adminhtml">Edge_Pages_Adminhtml</pages>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <pages>
                    <file>edge/pages.xml</file>
                </pages>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <pages>
                <class>Edge_Pages_Block</class>
            </pages>
            <adminhtml>
                <rewrite>
                    <cms_page_edit_form>Edge_Pages_Block_Adminhtml_Cms_Page_Edit_Form</cms_page_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <pages>
                <class>Edge_Pages_Model</class>
                <resourceModel>pages_resource</resourceModel>
            </pages>
            <pages_resource>
                <class>Edge_Pages_Model_Resource</class>
                <entities>
                    <page_type>
                        <table>cms_page_type</table>
                    </page_type>
                </entities>
            </pages_resource>
        </models>
        <helpers>
            <pages>
                <class>Edge_Pages_Helper</class>
            </pages>
        </helpers>
        <resources>
            <pages_setup>
                <setup>
                    <module>Edge_Pages</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pages_setup>
        </resources>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <pagetype_page_edit_tab_main>
                        <type>singleton</type>
                        <class>Edge_Pages_Model_Observer</class>
                        <method>cmsField</method>
                    </pagetype_page_edit_tab_main>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_prepare_save>
                 <observers>
                    <pagetype_page_edit_tab_main_save_edit>
                        <type>singleton</type>
                        <class>Edge_Pages_Model_Observer</class>
                        <method>saveEditField</method>
                    </pagetype_page_edit_tab_main_save_edit>
                </observers>
            </cms_page_prepare_save>
        </events>
        <resources>
            <pages_setup>
                <setup>
                    <module>Edge_Pages</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pages_setup>
        </resources>
    </global>
</config>
